nav.global-nav{
	position: relative;
	z-index: 200;
}
#logo{
	display:block;
	height: 75px;
	width: 75px;
	background-size: 100%;
	&.white{
		background: transparent url('../images/white-logo.png') no-repeat 50% 50%;
	}
	&.dark{
		background: transparent url('../images/dark-logo.png') no-repeat 50% 50%;
	}
}
nav{
	.animate;
	.fadeInDown;
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: none;
	#logo{
		margin: 0 auto;
	}
	&:after{
		clear: both;
		display: block;
		content: '';
	}
	#current{
		display: none;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1;
	}
	a{
		-webkit-transition: color 0.25s linear;
		-moz-transition: color 0.25s linear;
		transition: color 0.25s linear;
		border: none;
	}
	p{
		text-shadow: none;
		margin: 0;
		padding: 0;
	}
}

nav#dark{
	a{
		color: rgba(51,51,51,0.7);
		&:hover{
			color: #000;	
		}
	}
	p{
		color: rgba(51,51,51,0.7);
	}
	p#current{
		color: #000;
	}
	#navigation.show{
		background: rgba(255,255,255,0.8);
	}
}
nav#light{
	a{
		color: rgba(249,249,249,0.7);
		
		&:hover{
			color: #fff;
		}
	}
	p{
		color: rgba(249,249,249,0.7);
	}
	p#current{
		color: #fff;
	}
	#navigation.show{
		background: rgba(0,0,0,0.8);
	}
}
#navigation{
	height: 0;
	overflow: hidden;
	padding: 20px 0;
	-webkit-transition: height 0.5s ease-in, background 0.5s ease-in;
	-moz-transition: height 0.5s ease-in, background 0.5s ease-in;
	transition: height 0.5s ease-in, background 0.5s ease-in;
	&.show{
		height: auto;
	}
	// #portfolio{
	// 	&:hover{
	// 		#projects{
	// 			height: 275px;
	// 		}
	// 	}
	// }
	#projects{
		height: 0;
		overflow: hidden;
		-webkit-transition: height 0.25s linear;
		-moz-transition: height 0.25s linear;
		transition: height 0.25s linear;
		li{
			min-width: 200px;
		}
	}
}

@media screen and (max-width: 767px) {
	#nav{
		display: block;
		text-align: left;
		text-indent: -999em;
		height: 50px;
		width: 50px;
		background-size: 100%;
		margin: 10px auto;
		#current{ 
			display: block;
			text-shadow: none;
		}
	}
	#navigation, #navigation li, #navigation #portfolio, #navigation #portfolio li{
		margin-left: 0;
		margin-right: 0;
		text-align: center;
		padding: 0;
	}
	#navigation{
		box-sizing: border-box;
		position: absolute;
		left: -100%;
		width: 100%;
		height: auto;
		padding: 100px 0;
		background: rgba(0,0,0,0.8);
		-webkit-transition: left 0.25s ease-in-out;
		-moz-transition: left 0.25s ease-in-out;
		transition: left 0.25s ease-in-out;
		// position: absolute;
		// width: 100%;
		// text-align: center;
		// li a{
		// 	display: block;
		// 	padding: 10px 0 0 0;
		// 	font-size: 14px;
		// }
		// &.show{
		// 	height: auto;
		// }
		// #portfolio{
		// 	&:hover{
		// 		#projects{
		// 			height: 275px;
		// 		}
		// 	}
		// }
		#projects{
			height: auto;
			margin: 10px 0;
			padding: 10px 0;
			border-top: 1px solid rgba(255,255,255,0.4);
			border-bottom: 1px solid rgba(255,255,255,0.4);
		// 	overflow: hidden;
		// 	-webkit-transition: height 0.25s linear;
		// 	-moz-transition: height 0.25s linear;
		// 	transition: height 0.25s linear;
		}
	}
	#projects{
		padding: 0;
	}
}
body.nav, body#home.nav{
	#navigation{
		left: 0;
		// width: 90%;
	}
}


@media screen and (min-width: 768px){
	nav{
		margin-left: 30px;
		background: none;
		#nav{
			display: none;
		}
		ul{
			padding: 20px 0 0 19px;
			li{
				float: left;
				list-style-type: none;
				margin-right: 15px;
			}
			#portfolio{
				position: relative;
				cursor: pointer;
				&:hover{
					height: 220px;
					#projects{
						height: 220px;
						opacity: 1;
					}
				}
			}
		}
		#projects{
			position: absolute;
			top: 14px;
			left: 0;
			padding: 0;
			background: none;
			overflow: hidden;
			zoom: 1;
			z-index: 999;
			li{
				float: none;
				display: block;
				margin: 5px 0;
			}
		}
		#current{
			position: absolute;
			top: 64px;
			left: 93px;
			display: block;
		}
	}
	nav ul, nav #logo{
		float: left;
	}
	#navigation{
		height: auto;
		padding-left: 20px;
	}
	.interior nav{
		position: absolute;
		top: 20px;
		left: 20px;
	}
	body.interior{
		nav{
			ul{
				padding-top: 6px;
			}
		}
	}
	#current{
		-webkit-transition: opacity 0.25s linear;
		-moz-transition: opacity 0.25s linear;
		transition: opacity 0.25s linear;
		&.fade{
			opacity: 0;
		}
		&.hide{
			display: none;
		}
	}
}


@media 
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-resolution: 192dpi) { 
	#logo{
		background-size: 100%;
		&.white{
			background-image: url('../images/white-logo@2x.png');
		}
		&.dark{
			background-image: url('../images/dark-logo@2x.png');
		}
	}
	#nav{
		background-image: url('../images/navigation-icon@2x.png');
	}
}