@import "import/core";
@import "import/mixins";
@import "import/animation";
@import "import/tiptip";
@import "import/api";
@import "import/ss-standard";
@import "import/ss-social";
@import "import/nav";

::-moz-selection{ background: #4C4C4C; color:#fff; text-shadow: none; }
::selection { background:#4C4C4C; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #333;}
body{
	font-family: proxima-nova,Helvetica,"Helvetica Neue",Arial,sans-serif;
}

@red: rgb(255, 226, 189);

a{
	color: #f3f3f3;
	text-decoration: none;
	-webkit-transition: color 0.25s linear, text-shadow 0.25s linear;
	-moz-transition: color 0.25s linear, text-shadow 0.25s linear;
	transition: color 0.25s linear, text-shadow 0.25s linear;
	&:hover{
		color: #fff;
	}
}

#home{
	font-family: "proxima-nova",Helvetica,"Helvetica Neue",Arial,sans-serif;
	background: #222;
	color:#f3f3f3;
	margin: 0;
	padding-top: 50px;
	nav.global-nav{
		position: relative;
		z-index: 200;
	}
	.copy{
		// .animate;
		// .fadeInDown;
		width: 90%;
		opacity: 1;
		margin: 20px auto 0;
		-webkit-transition: opacity 0.25s linear;
		-moz-transition: opacity 0.25s linear;
		transition: opacity 0.25s linear;
		h1{
			margin: 0;
			line-height: 1;
		}
		h1.name{
			font-weight: 100;
			font-size: 40px;
			text-transform: uppercase;
		}
		h1.title{
			font-weight: 100 !important;
			font-size: 16px;
			text-transform: uppercase;
			a{
				border: none;
				padding: none;
			}
		}
		.title{
			font-size: 14px;
			font-weight: 300;
			line-height: 1.6;
			a{
				border-bottom: 1px solid rgb(114, 114, 114);
				padding-bottom: 1px;
				-webkit-transition: border 0.25s linear, text-shadow 0.25s linear;
				-moz-transition: border 0.25s linear, text-shadow 0.25s linear;
				transition: border 0.25s linear, text-shadow 0.25s linear;
				&:hover{
					text-shadow: 0 0 2px #fff;
					border-bottom: 1px solid rgb(255, 255, 255);
				}
			}
		}
	}
	.social{
		ul{
			overflow: hidden;
			zoom: 1;
			li{
				list-style-type: none;
				float: left;
				margin-right: 10px;
				font-size: 19px;
			}
		}
	}
	#github-button{
		width: 150px;
		margin: 0 auto;
	}
	#twitter-button{
		width: 130px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 599px) {
	#logo{
		margin: 0 auto;
	}
}

@media screen and (max-width: 767px) {
	#home .copy{
		h1.title{
			font-size: 13px;
		}
	}
	ul:not(.social-icons){
		width: 100%;
		text-align: left;
		li{
			list-style-type: none;
			margin-bottom: 10px;
			font-size: 16px;
			// width: 300px;
			margin: 0 auto 10px auto;
		}
		#portfolio{
			position: relative;
			cursor: pointer;
			p{
				margin: 0;
				color: #D8D8D8;
				-webkit-transition: color 0.25s linear;
				-moz-transition: color 0.25s linear;
				transition: color 0.25s linear;
			}
		}
	}
	
	.social-icons{
		width: 295px;
		padding: 0;
		margin: 45px auto;
	}
	#home .copy{
		text-align: center;
		margin-top: 50px;
	}
	#projects{
		overflow: hidden;
		zoom: 1;
		li{
			float: none;
			font-size: 12px; 
			display: block;
			margin: 10px 0;
		}
	}
}

@media screen and (min-width: 768px){
	#home{
		background: #000 url('../images/home/background.jpg') no-repeat 70% 0;
		background-size: cover;
		.copy{
			position: absolute;
			top: 110px;
			z-index: 10;
			width: 420px;
			margin: 50px 0 0 120px;
			&.fade{
				opacity: 0;
			}
		}
		.social{
			margin-top: 20px;
			ul{
				padding: 0;
			}
			li{
				margin-right: 20px;
			}
		}
	}
}


.oldie{
	@import "import/ie"; 
	#home{
		background: #000 url('../images/home/background.jpg') no-repeat 70% 0;
		background-size: cover;
		nav{
			margin-left: 30px;
			ul{
				padding: 20px 0 0 19px;
			}
		}
		nav ul, nav #logo{
			float: left;
		}
		.copy{
			width: 425px;
			margin: 50px 0 0 120px;
		}
	}
}
