/*! Stylesheet built and maintained by Manik Rathee, @manikrathee / www.manikrathee.com */

@import
	"import/core",
	"import/mixins",
	"import/animation",
	"import/1140",
	"import/reset",
	"import/flexslider",
	"import/prettyforms",
	"import/tiptip",
	"import/ss-standard",
	"import/ss-social",
	"import/media-queries",
	"import/nav";

// @import "import/konami";

@import "styles/base";

@media (min-width: 500px){
	@import "styles/small-screen";
}

@media (min-width: 768px){
	@import "styles/regular-screen";
}

@media (min-width: 940px){
	@import "styles/medium-screen";
}

@media (min-width: 1420px){
	@import "styles/large-screen";
}






@media (min-width: 767px) and (max-width: 1120px)  {
	.about .fact-container #about-data span.number-container {
		font-size: 25px;
	}
}



@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.upper_logo_bar .logo-dark {background: transparent url('../images/logo@2x.png') no-repeat 50% 50%;-webkit-background-size:69px 69px;}
	.upper_logo_bar .logo-light {background: transparent url('../images/white-logo@2x.png') no-repeat 50% 50%;-webkit-background-size:69px 69px;}
}


