/* ///  GLOBAL  //// */
::-moz-selection{ background: #4C4C4C; color:#fff; text-shadow: none; }
::selection { background:#4C4C4C; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #333;}
html,body{height:100%;}
body{background: url(../images/bg.jpg) repeat;font-family: proxima-nova;color: #4C4C4C;}

.outer_container{width: 100%;}
.inner_container{max-width: 960px;margin: 0 auto;}
.mobile_hidden{display:block;}
.mobile_display{display:none;}
.fit_tablet_show{display:none;}
.fit_tablet_hidden{display:block;}
.clear{clear: both;}
.dark{color:#333;text-shadow:#fff !important;}
.dark a{color:#333 !important;text-shadow: 1px 1px 0 #fff !important;}
.white{color:#fff;text-shadow:#000 !important;}
.white a{color:#fff !important;text-shadow: 1px 1px 0 #000 !important;}

a{text-decoration:none;}

/* /// FADE KEYFRAMES /// */
@-moz-keyframes fadeOut{0%{height:100%;width:100%;opacity:1;}
50%{height:100%;width:100%;opacity:1;}
99%{height:100%;width:100%;}
100%{height:0;width:0;opacity:0;}
}
@-moz-keyframes reset{0%{opacity:0;}
100%{opacity:0;}
}
@-moz-keyframes fade-in{0%{opacity:0;}
60%{opacity:0;}
100%{opacity:1;}
}
@-o-keyframes fadeOut{0%{height:100%;width:100%;opacity:1;}
50%{height:100%;width:100%;opacity:1;}
99%{height:100%;width:100%;}
100%{height:0;width:0;opacity:0;}
}
@-o-keyframes reset{0%{opacity:0;}
100%{opacity:0;}
}
@-o-keyframes fade-in{0%{opacity:0;}
60%{opacity:0;}
100%{opacity:1;}
}
@-webkit-keyframes fadeOut{0%{height:100%;width:100%;opacity:1;}
50%{height:100%;width:100%;opacity:1;}
99%{height:100%;width:100%;}
100%{height:0;width:0;opacity:0;}
}
@-webkit-keyframes reset{0%{opacity:0;}
100%{opacity:0;}
}
@-webkit-keyframes fade-in{0%{opacity:0;}
60%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeOut{0%{height:100%;width:100%;opacity:1;}
50%{height:100%;width:100%;opacity:1;}
99%{height:100%;width:100%;}
100%{height:0;width:0;opacity:0;}
}
@keyframes reset{0%{opacity:0;}
100%{opacity:0;}
}
@keyframes fade-in{0%{opacity:0;}
60%{opacity:0;}
100%{opacity:1;}
}
.fade-in{-webkit-animation-name:reset,fade-in;-webkit-animation-duration:2.5s;-webkit-animation-timing-function:ease-in;-webkit-animation-iteration-count:1;-moz-animation-name:reset,fade-in;-moz-animation-duration:2.5s;-moz-animation-timing-function:ease-in;-moz-animation-iteration-count:1;}
.fade-in.one{-webkit-animation-delay:0,0;-moz-animation-delay:0,0;}
.fade-in.two{-webkit-animation-delay:0,0.5s;-moz-animation-delay:0,0.5s;}
.fade-in.three{-webkit-animation-delay:0,1s;-moz-animation-delay:0,1s;}
.fade-in.four{-webkit-animation-delay:0,1.5s;-moz-animation-delay:0,1.5s;}
.fade-in.five{-webkit-animation-delay:0,2s;-moz-animation-delay:0,2s;}
/* /// END FADE KEYFRAMES /// */


/* /////////////// */
/* ///  HOME  //// */
.desktop{display:block;}
.mobile{display: none;}

.home{text-align:left;color:#333;text-transform: uppercase;font-family: "proxima-nova",sans-serif;padding:35px 0 0 35px;}

.home header{margin-bottom:100px;}
.home header h1{font-size:32px;font-weight:100;color:#4C4C4C;float:left;margin-right: 8px;}
.home header p{font-size:18px;font-weight:100;color:#ACACAC;float:left;margin-top: 13px;}
.home header p a{font-size:18px;font-weight:100;color:#ACACAC;text-decoration:none;float:left;margin-left:3px;}

.home aside{width:35%;float:left;}
.home aside h2{font-size:14px;font-weight:700;color:#4C4C4C;}
.home aside ul{margin:0;padding:0;}
.home aside ul li{padding-left:20px;list-style-type:none;}
.home aside ul li a{color:#333;text-decoration:none;}

.home section.about{width:65%;float:left;}
.home section.about p{font-size:12px;}

.home section.title{text-transform: none;font-weight:300;color:666;font-size:12px;}

.home section.social{width:100%;height:50px;background:red;}




/* ///  END HOME  //// */




/* /// NAV BAR /// */
#nav{height:25px;border-bottom:1px solid #ddd;position:fixed;top:0px;left:0px;right:0px;background:#fff url(../images/nav.png) repeat-x center left;}
.nav_bar_center{width:670px;margin:0 auto;}
.nav_bar_center ul{height:25px;list-style:none;}
.nav_bar_center li{text-align:center;margin:0px 2px;}
#nav a{font-size:11px;font-weight:bold;float:left;padding:2px 4px;color:#999 !important;text-shadow:none !important;text-decoration:none;border:1px solid #ccc;cursor:pointer;background:transparent url(../images/overlay.png) repeat-x center left;height:16px;line-height:16px;}
#nav a:hover{background:fff none;color:#333 !important;}
#nav a.top span,#nav a.bottom span{float:left;width:16px;height:16px;}
#nav a.top span{background:transparent url(../images/top.png) no-repeat center center;}
#nav a.bottom span{background:transparent url(../images/bottom.png) no-repeat center center;}
/* /// END NAV BAR /// */

/* ///  INTERIOR  //// */


.button{background:#000 url(../images/button_bg.jpg) repeat-x;border-radius: 5px; -moz-border-radius: 5px;  -webkit-border-radius: 5px;width:155px;text-align:center;}
.button:hover{background:#000 url(../images/button_bg_hover.jpg) repeat-x;}
.button_text{color:#fff;text-shadow:1px 1px 0 #000;font-weight:700;text-transform:uppercase;padding:5px 0;}
.button a{text-decoration:none;}
.button a:hover{text-decoration:none;}

.interior h1{} 
.interior h2,h3{font-size: 45px;text-transform: uppercase;color:#333333;text-shadow:1px 1px 0 #fff;font-weight:500;display: block;}
.interior a{color:#000;text-decoration:none;}
.interior a:hover{color:#777;text-decoration:none;}	
.interior p{font-size: 14px;line-height: 1.8;text-shadow:1px 1px 0 #fff;margin-bottom:20px;}

.left_col_inner{}
.right_col_inner{padding-left:10%;border-left:1px solid #efefef;padding-bottom:55px;}
.shadow{width: 100%;height: 50px;position: relative;z-index: 999;background: url(../images/interior_shadow.png) repeat-x bottom center;margin-top: -50px;}
.section_spacer{margin-top:40px;}
.headline{width:100%;}
.glance{padding-bottom: 8px;}
.glance_container{}
.glance_heading{font-size:17px;font-weight:700;text-transform:uppercase;margin-bottom: 0px !important;}
.glance_description{font-size:13px;padding-bottom:20px;margin-bottom: 0px !important;}
.article{padding-bottom: 40px;}

.upper_logo_bar{float:left;height:100px;padding:12px;font-size:17px;color:#fff;text-shadow:1px 1px 0 #000;}
.upper_logo_bar .logo{float: left;margin: 30px 0 0 0;display:block;height:69px;width:68px;}
.upper_logo_bar .logo-dark{background: transparent url('../images/logo_dark.png') no-repeat 50% 50%;}
.upper_logo_bar .logo-light{background: transparent url('../images/logo_white.png') no-repeat 50% 50%;}

.upper_logo_bar ul{}
.upper_logo_bar li{float: left;list-style: none;padding-left: 5px;}
.upper_logo_bar .mobile_nav{display:none;}
.upper_logo_bar .full_nav{text-align:center;}

/* HOPE WILL SEE US THROUGH - INTERIOR */
.hope{background:#FBFBFB url(../images/interior_lower_hope.jpg) repeat top center;}
.hope_upper{background:#172e47 url(../images/interior_upper_hope.jpg) no-repeat center top;color:#fff;text-shadow:1px 1px 0 #000;height:450px;}
.hope_title{margin:250px 20px 0 0;}
.hope_title .subtitle{font-size:13px;}
.hope .no_margin{margin-right: 0 !important;}
.hope div:hover a{color: #4684CF;}
.hope_slides{width:500px;margin:0 auto 40px auto;}

/*MR PHOTOGRAPHY - INTERIOR */
.mrphoto{background:#FBFBFB url(../images/interior_lower_mrphoto.jpg) repeat top center;}
.mrphoto_upper{background:#192E47 url(../images/interior_upper_mrphoto.jpg) no-repeat top center;color:#fff;text-shadow:1px 1px 0 #000;height:500px;}
.mrphoto_title{margin-top:300px;}
.mrphoto_title .subtitle{font-size:13px;}
.mrphoto_slides{width:98%;margin:0 auto 35px auto;}

/*WRAPSKINS - INTERIOR */
.wrap{background:#FBFBFB url(../images/interior_lower_wrap.jpg) repeat top center;}
.wrap_upper{background:#EF5227 url(../images/interior_upper_wrap.jpg) repeat-x top center;color:#fff;text-shadow:1px 1px 0 #000;height:500px;}
.wrap_title{float:right;margin-top:155px;}
.wrap_title .subtitle{font-size:14px;padding-left:458px;margin-top: -40px;text-shadow:1px 1px 0 #A63A1A !important;}
.wrapskins_slider_outer{width:496px;margin:0 auto;height:450px;}
.wrapskins_slider_inner{width:430px;height:250px;margin:-375px auto 0 auto;}
.wrap div:hover a{color: #EF5227;}

/*CATALYST - INTERIOR */
.catalyst{background:#FBFBFB url(../images/interior_lower_wrap.jpg) repeat top center;}
.catalyst_upper{background:#000 url(../images/interior_upper_catalyst.jpg) repeat-x top center;color:#fff;text-shadow:1px 1px 0 #000;height:490px;}
.catalyst_title{margin:18% 0 0 28%;background:transparent url(../images/catalyst_title.png) no-repeat top center;width:263px;height:56px;}
.catalyst_title_right{background:transparent url(../images/interior_upper_catalyst_phones.png) no-repeat bottom center;width:563px;height:365px;float:right;padding:0 0 0 0;}
.catalyst_icon_row{padding:60px 0 0 0;}
.catalyst_icon_row_last{padding:50px 0;}
.catalyst_icon_row .catalyst_iconset{float:left;width:40%;}
.catalyst_icon_row .catalyst_iconset_copy{float:left;padding:10px 0 0 40px;width:55%;}
.catalyst_icon_row .catalyst_iconset_copy h4{font-size:25px;text-transform:uppercase;}
.catalyst_icon_row .catalyst_iconset_copy p{}
.catalyst div:hover a{color: #EF5227;}

/* LIVESCRIBE - INTERIOR */
.livescribe{background:#FBFBFB url(../images/interior_lower_hope.jpg) repeat top center;}
.livescribe_upper{background:#FFF url(../images/interior_livescribe_bg.jpg) no-repeat center top;color:#fff;text-shadow:1px 1px 0 #000;height:350px;}
.livescribe_title{margin:50px 0 0 0;}
.livescribe div:hover a{color: #4684CF;}
.livescribe_slides{width:99%;margin:0 auto 35px auto;}

/* UNIVERSAL SHANTI - INTERIOR */
.shanti{background:#FBFBFB url(../images/interior_lower_mrphoto.jpg) repeat top center;}
.shanti_upper{background:#fff url(../images/interior_upper_shanti.jpg) no-repeat top center;color:#fff;text-shadow:1px 1px 0 #000;height:420px;}
.shanti_title{margin-top:200px;}
.shanti_slides{width:98%;margin:0 auto 35px auto;}

/* BLOG - INTERIOR */
.blog{background:#FBFBFB url(../images/interior_lower_mrphoto.jpg) repeat top center;}
.blog_upper{background:#000 url(../images/interior_upper_blog.jpg) no-repeat top center;color:#fff;text-shadow:1px 1px 0 #000;height:420px;}
.blog_title{margin-top:200px;}
.blog_slides{width:98%;margin:0 auto 75px auto;}

/*  404  */
.fourohfour{text-align:center;text-shadow:1px 1px 0 #fff;padding:12% 0 0 0;}
.fourohfour h1{font-family:"freight-sans-pro",sans-serif;font-size:60px;font-weight:100;padding-bottom:40px;}
.fourohfour a{color:red;}
.fourohfour a:hover;{color:#000;}




@media screen and (max-width: 1024px) { 
	
	.catalyst_icon_row .catalyst_iconset{float:left;width:40%;}
	.catalyst_icon_row .catalyst_iconset_copy{float:left;padding:10px 0 0 40px;width:50%;}

		
}

@media screen and (max-width: 950px) { 

	.catalyst_title_right{background:transparent url(../images/interior_upper_catalyst_phones_small.png) no-repeat bottom center;width:225px;height:365px;padding:0 25% 0 0;}
	.wrap_title .subtitle{padding-left:380px;}
	
}
@media screen and (max-width: 800px) { 

	.nav_bar_center{width:600px;margin:0 auto;}
	.nav_bar_center li{text-align:center;margin:0px 0px !important;}
	#nav a{font-size:10px;float:left;padding:2px 3px;}
	
}

@media screen and (max-width: 768px) {  
		
	.desktop{display:none;}
	.mobile{display:block}
	
	
	.mobile_hidden{display:none;}
	.mobile_display{display:block;}
	.fit_tablet_show{display:block;}
	.fit_tablet_hidden{display:none;}
	.mobile_color{background:#efefef;margin-bottom:25px;}
	.right_col_inner{padding-left:0;border-left: none;padding-bottom:55px;}
	
	.catalyst_upper{background:#000 url(../images/interior_upper_catalyst_768.jpg) repeat-x top center;color:#fff;text-shadow:1px 1px 0 #000;height:290px;}
	.catalyst_title{margin:0 auto;background:transparent url(../images/catalyst_title.png) no-repeat top center;width:263px;height:56px;}
	.catalyst_title_right{display:none;/* background:transparent url(../images/interior_upper_catalyst_phones_small.png) no-repeat bottom center;width:563px;height:365px;float:right;padding:0 0 0 0;*/}
	
	.wrap_upper{height:auto;}
	.wrap_title{float:none;margin-top:10px;text-align:center;}
	.wrap_title .subtitle{text-align:center;margin-top:-20px !important;padding:0 0 50px 0;}
	

	.livescribe_upper{background:#FFF url(../images/interior_livescribe_bg_768.jpg) no-repeat center top;}
	.livescribe_title{margin:65px 30px 0 0;float:right;}
	
	.shanti_upper{height:auto;}
	.shanti_title{width:420px;margin:50px auto;}
	

	.blog_upper{background:#000 url(../images/interior_upper_blog_768.jpg) no-repeat top left;color:#fff;text-shadow:1px 1px 0 #000;height:300px;}
	.blog_title{margin-top:100px;}
	
}



@media screen and (max-width: 700px) {  

	.wrapskins_slider_outer{width:350px;margin:0 auto;height:450px;}
	.wrapskins_slider_inner{width:310px;margin:-265px auto 0 auto;}
	

	.hope_slides{width:90%;margin:0 auto 40px auto;}
	

}

@media handheld and (max-width: 480px),
       screen and (max-device-width: 480px),
       screen and (max-width: 600px) {
	
    p{font-size: 12px;line-height: 1.6;}
	.mobile_color{-webkit-box-shadow: 0px 0px 10px 5px rgba(50, 50, 50, 0.2);-moz-box-shadow: 0px 0px 10px 5px rgba(50, 50, 50, 0.2);box-shadow: 0px 0px 10px 5px rgba(50, 50, 50, 0.2);}
	.section_spacer{display:none;}
	.right_col_inner{padding-bottom:15px;border-top:1px solid #fff;border-bottom:1px solid #fff;}
	.no_pad{padding-left:0px !important;padding-right:0px !important;}
	
	.main{background: transparent url('../images/home/background_box.png') repeat top left;}

	.upper_logo_bar .logo{margin:10px 0 0 0 !important;}
	.upper_logo_bar .mobile_nav{display:block;float:left;margin:10px 0 0 10px;}
	.upper_logo_bar .full_nav{display:none;}
	
	.catalyst_title{margin:40px auto 0;}
	.catalyst_icon_row .catalyst_iconset{float:none;width:300px;margin:0 auto;padding:0 !important;}
	.catalyst_icon_row .catalyst_iconset_copy{float:none;width:100%;padding:20px 0 10px 0;border-bottom:1px solid #999;margin:0 0 10px 0;}
	.catalyst_icon_row .catalyst_iconset_copy h4{padding: 0 0 10px 0;}
	.catalyst_icon_row .catalyst_iconset_copy p{line-height:1.8;}  

	.livescribe_upper{background:none;height:auto;}
	.livescribe_title{margin:5px auto 0 auto;float:none;width:270px;padding: 0 0 45px 0;}
	 
	.wrapskins_slider_outer{width:200px;margin:0 auto;height:250px;}
	.wrapskins_slider_inner{width:170px;margin:-147px auto 0 auto;}
	
	.shanti_title{width:300px;margin:50px auto;}
}

@media only screen and (-webkit-min-device-pixel-ratio:2){
	.upper_logo_bar .logo-dark{background: transparent url('../images/logo@2x.png') no-repeat 50% 50%;-webkit-background-size:69px 69px;}
	.upper_logo_bar .logo-light{background: transparent url('../images/white-logo@2x.png') no-repeat 50% 50%;-webkit-background-size:69px 69px;}
}
