@import "animation";
@import "tiptip";
@import "modal";

::-moz-selection{ background: #4C4C4C; color:#fff; text-shadow: none; }
::selection { background:#4C4C4C; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #333;}
body{font-family: proxima-nova,Helvetica,"Helvetica Neue",Arial,sans-serif;}

.transition{
	-webkit-transition:color .35s ease-in-out;
	-moz-transition:color .35s ease-in-out;
	-o-transition:color .35s ease-in-out;
	transition:color .35s ease-in-out;
}

@blue: #0071bc;

#home{
	background: #222;
	color:#f3f3f3;
	margin: 0;
	padding-top: 50px;
	#voter-registration{
		display: none;
		.animate;
		.fadeInDown;
		position: absolute;
		top: 0;
		z-index: 200;
		width: 100%;
		height: auto;
		text-align:center;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 11px;
		font-weight: bold;
		padding: 10px 0;
		background: lighten(@blue, 10%);
		color: #f9f9f9;
		text-shadow: 1px 1px 0 #0071bc;
		-webkit-transition: background-color 0.25s linear, padding 0.25s linear, top 1s linear;
		-moz-transition: background-color 0.25s linear, padding 0.25s linear, top 1s linear;
		transition: background-color 0.25s linear, padding 0.25s linear, top 1s linear;
		&:hover{
			background: @blue;
			padding: 20px 0;
		}
		&.hide{
			top: -100%;			
		}
	}
	#voter-registration-form{
		display: block;
		width: 300px;
		height: 400px;
		margin: 20px auto 40px;
		-webkit-transition: opacity 0.25s linear;
		-moz-transition: opacity 0.25s linear;
		transition: opacity 0.25s linear;
		gottaregister{
			width: 300px;
		}
		&.show{
			display: block;
			.animate;
			.fadeInDown;
		}
		#close{
			display: none;
			width: 200px;
			background: #0071BC;
			color: white;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			padding: 15px 0;
			margin: 10px auto;
			border-radius: 6px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			text-decoration: none;
			-webkit-transition: background-color 0.25s linear;
			-moz-transition: background-color 0.25s linear;
			transition: background-color 0.25s linear;
			&:hover{
				background: darken(@blue, 20%);
			}
		}
	}
	#lean_overlay {
	    position: fixed;
	    z-index:100;
	    top: 0px;
	    left: 0px;
	    height:100%;
	    width:100%;
	    background: #000;
	    display: none;
	}
	#logo{
		.animate;
		.fadeInDown;
		margin:0 auto;
		display:block;
		background: transparent url('../images/home/white-logo.png') no-repeat top left;
		height:100px;
		width:300px;
	}
	#css-award{
		display: block;
		background: transparent url('../images/css-award.png') no-repeat top right;
		position: absolute;
		top: 0;
		right: 0;
		height:164px;
		width:69px;
		z-index: 100;
	}
	#awwwards{
		position:absolute;
		top:20px;
		right:0px;
		z-index:555;
	}
	#awwwards a{
		width:69px;
		height:105px;
		text-indent:-8000px;
		display:block;
		background:url('../images/awwwards_nominee_w_right.png') no-repeat;
		overflow:hidden;
	}
	section.copy{
		.animate;
		.fadeInDown;
		width:300px;
		margin:40px auto 0 auto;
		font-size:14px;
		text-shadow:0 2px 5px #000;
		h1{
			text-transform: uppercase;
			font-weight:100;
			margin:0;
			padding:0;
			line-height:1;
		}
		h1.name{
			font-size:32px;
		}
		h1.title{
			font-size:12px;
		}
		a{
			text-decoration:none;
			color:#fff;
			.transition;
			&:hover{
				color:#A5BBCC;
			}
		}
	}
	section.title{
		margin-top:20px;
		font-size:13px;
		line-height:1.6;
		a{
			color: lighten(@blue, 50%);
		}
	}
	section.projects{
		text-transform: uppercase;
		h2{
			margin:0;
			padding:0;
			font-size:13px;
			font-weight:normal;
		}
		ul{
			font-size:11px;
			margin:2px 0 0 0;
			padding:0;
			font-weight:300;
			li{
				margin:0;
				padding:0 0 5px 0;
				list-style-type:none;
				&:last-child{
					padding:0;
				}
				a{
					&:hover{
						color: lighten(@blue, 50%);
					}
				}
			}
		}
	}
	section.social{
		margin:32px 0;
		ul{
			margin:0;
			padding:0;
			li{
				margin:0 8px 0 0;
				padding:0;
				font-size: 25px;
				list-style-type:none;
				display: inline-block;
				vertical-align: top;
				zoom: 1;
				*display: inline;
				a{
					&:hover{
						color: lighten(@blue, 50%);
					}
				}
			}
		}
	}

}

@media screen and (min-width:500px){
	#home{
		#voter-registration{
			display: block;
		}
		#voter-registration-form{
			display: none;
			width: 400px;
			height: 400px;
			position: absolute;
			top: 100px;
			left: 50%;
			opacity: 0;
			margin-left: -220px;
			#close{
				display: block;
			}
		}
		section.copy{
			width:450px;
			h1.title{
				font-size:15px;
			}
		}
		#logo{
			display:block;
			background: transparent url('../images/home/white-logo.png') no-repeat center left;
			height:100px;
			width:450px;
		}
	}
}

@media screen and (min-width:768px){
	#home{
		background: #000 url('../images/home/bg-1024.jpg') no-repeat 70% 0;
		color:#f1f1f1;
		#logo{
			background: transparent url('../images/home/logo.png') no-repeat 50% 50%;
			position:absolute;
			top: 50px;
			left: 10px;
			width: 100px;
		}
		section.copy{
			position:absolute;
			right: 0;
			top: 0;
			width: 400px;
			height: 100%;
			background: url('../images/home/transparent-bg.png') repeat 0% 0%;
			margin: 0;
			padding: 10% 20px;
			box-sizing: border-box;
		}
	}
}

@media screen and (min-width:1024px){
	#home{
		background: #000 url('../images/home/bg-1024.jpg') no-repeat;
		color:#f1f1f1;
	}
}

@media screen and (min-width:1600px){
	#home{
		background: #000 url('../images/home/bg-full.jpg') no-repeat;

	}
}

@media only screen and (-webkit-min-device-pixel-ratio:2){
	#logo{
		background: transparent url('../images/white-logo@2x.png') no-repeat 50% 50%;
     	-webkit-background-size:100px 100px;}
	}
}