AddHandler php5-script .php
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^manikrathee.com [NC]
RewriteRule ^(.*)$ http://www.manikrathee.com/$1 [L,R=301]
#Redirect /500px https://500px.com/manikrathee/
#Redirect /blog http://blog.manikrathee.com/
#Redirect /bot https://twitter.com/manikbot/
#Redirect /manikbot https://twitter.com/manikbot/
#Redirect /dribbble http://dribbble.com/manikrathee/
#Redirect /exposure http://photos.manikrathee.com/
#Redirect /flickr http://www.flickr.com/photos/manikrathee/
#Redirect /foursquare http://foursquare.com/manikrathee/
#Redirect /gist http://gist.github.com/manikrathee/
#Redirect /github http://www.github.com/manikrathee/
#Redirect /instagram https://www.instagram.com/manikrathee/
#Redirect /ig https://www.instagram.com/manikrathee/
#Redirect /isreading https://twitter.com/manikisreading/
#Redirect /ios http://www.manikrathee.com/catalyst/
#Redirect /iOS http://www.manikrathee.com/catalyst/
#Redirect /lastfm http://www.last.fm/user/mrathee/
#Redirect /linkedin http://www.linkedin.com/in/manikrathee/
#Redirect /photography http://photos.manikrathee.com/
#Redirect /photos http://photos.manikrathee.com/
#Redirect /reading https://twitter.com/manikisreading/
#Redirect /spotify https://play.spotify.com/user/manikrathee/
#Redirect /tumblr http://manikrathee.tumblr.com/
#Redirect /twitter http://www.twitter.com/manikrathee/
AddType application/x-font-woff woff
AddType application/x-font-ttf ttf
AddType application/vnd.ms-fontobject eot
AddType image/svg+xml svg
