---
layout: default

home: 1

body-class: light
body-id: home
section: home
---

<section class="row ↔️">
  <div class="row-tout recent-photos ↕️">
    <h3 class="medium-heading">Photography &amp; Fashion</h3>

    <ul class="row-tout-list recent-photos-list">
      {% for post in site.categories.photos | limit:6 %}
      <li>
        <p class="condensed">
          <a href="{{ post.url }}" title="{{ post.title }}" itemprop="url">
            {{ post.title | strip_html }}<!--
          --></a><!--

          -->{% if post.isForLovelySunday %}<!--
        --><span class="for-lovely-sunday">, for
            <a href="{{ post.lovelySundayLink }}" class="for-lovely-sunday--link" title="LovelySunday: Fashion &amp; Style Blog" itemprop="url">
              LovelySunday
            </a>
          </span>
          {% endif %}
        </p>
      </li>
      {% endfor %}
      <li class="more-items">
        <a class="more-items--link" href="/photos/" title="" itemprop="url">
          More Photography
        </a>
      </li>
    </ul>
  </div>


  <div class="row-tout recent-writing ↕️">
    <h3 class="medium-heading">Writing</h3>
    <ul class="row-tout-list recent-writing-list">
      {% for post in site.categories.blog | limit:6 %}
      <li>
        <p class="condensed">
          <a href="{{ post.url }}" title="{{ post.title }}" itemprop="url">
            {{ post.title | strip_html }}<!--
        --></a><span>, {{ post.date | date: '%B %Y' }}</span>
        </p>
      </li>
      {% endfor %}
      <li class="more-items">
        <a class="more-items--link" href="/blog/" title="" itemprop="url">
          More Writing
        </a>
      </li>
    </ul>
  </div>
</section>


<section class="row ↔️">
  <div class="row-tout recent-publications ↕️">
    <h3 class="medium-heading">Interviews</h3>
    <ul class="row-tout-list recent-publications-list">
      <li>
        <p class="condensed">
          <a href="http://www.creativebloq.com/responsive-web-design/net-awards-2013-top-10-young-designers-3132966" title=".net Awards 2013: top 10 young designers" itemprop="url">
            <!--
              .net Magazine's site moved. This was the original URL:
                http://www.netmagazine.com/features/net-awards-2013-top-10-young-designers
             -->
            Young Designer of the Year Nominee, .net Awards 2013
          </a><span>, .net Magazine</span>
        </p>
      </li>
      <li>
        <p class="condensed">
          <a href="http://www.amazon.com/Build-Your-Own-Brand-Strategies/dp/1440324557/" title="Build Your Own Brand" itemprop="url">
            Build Your Own Brand
          </a>
          <span>, Robin Landa</span>
        </p>
      </li>
      <li>
        <p class="condensed">
          <a href="http://blog.offscreenmag.com/post/36344235407/hi-manik-give-us-a-short-introduction-about-how" title="Offscreen Magzine - An Interview with Manik Rathee" itemprop="url">
            An Interview with Manik Rathee, a User Experience Engineer for President Barack Obama
          </a><span>, Kai Brach, Offscreen Magazine</span>
        </p>
      </li>
      <!-- RIP Readmill  -->
      <!-- <li>
          <a href="hhttp://blog.readmill.com/post/34294256090/meet-the-readmillers-manik-rathee" title="Meet the Readmillers: Manik Rathee" itemprop="url">
          Meet the Readmillers: Manik Rathee
          </a><span>, Readmill (RIP)</span>
      </li> -->
      <!-- ----------  -->
      <li>
        <p class="condensed">
          <a href="https://www.youtube.com/watch?v=69XQ82UK9Rs" title="Manik Rathee, Kean Graduate works for Obama Campaign" itemprop="url">
            Kean Graduate Works For Obama
          </a><span>, Kean University</span>
        </p>
      </li>
      <li class="more-items">
        <a class="more-items--link" href="/about" title="More interviews and features on the About page" itemprop="url">
          More Interviews &amp; Features
        </a>
      </li>
    </ul>
  </div>


  <div class="row-tout recent-speaking  ↕️">
    <h3 class="medium-heading">Speaking</h3>
    <ul class="row-tout-list recent-speaking-list">
      <li>
        <p class="condensed">
          <a href="/building-president-obama.html" title="Thinking Creatively Conference 10" itemprop="url">
            Building Obama
          </a><span>,  Keynote Address, Thinking Creatively Conf &mdash; April, 2013</span>
        </p>
      </li>
      <li>
        <p class="condensed">
          Building Obama In CSS<span>, CSS Dev Conf &mdash; October, 2013</span>
        </p>
      </li>
    </ul>
  </div>
</section>


<section class="row social">

  <h3 class="medium-heading">Online:</h3>

  <ul class="social-list">
    <li class="social-list--item">
      <a class="icon icon--spotify-dark" href="%|" title="" itemprop="url">
        Spotify
      </a>
    </li>
    <li class="social-list--item">
      <a class="icon icon--fivehundredpx-dark" href="%|" title="" itemprop="url">
        500px
      </a>
    </li>
    <li class="social-list--item">
      <a class="icon icon--instagram-dark" href="%|" title="" itemprop="url">
        Instagram
      </a>
    </li>
    <li class="social-list--item">
      <a class="icon icon--twitter-dark" href="%|" title="" itemprop="url">
        twitter
      </a>
    </li>
    <li class="social-list--item">
      <a class="icon icon--github-dark" href="%|" title="" itemprop="url">
        GitHub
      </a>
    </li>
    <li class="social-list--item">
      <a class="icon icon--dribbble-dark" href="%|" title="" itemprop="url">
        dribbble
      </a>
    </li>
    <li class="social-list--item">
      <a class="icon icon--tumblr-dark" href="%|" title="" itemprop="url">
        tumblr
      </a>
    </li>
    <li class="social-list--item">
      <a class="icon icon--pocket-dark" href="%|" title="" itemprop="url">
        pocket
      </a>
    </li>
  </ul>
</section>


<section class="api">

  <div id="spotify-api-bar"></div>
  <div id="twitter-api-bar"></div>
  <ul id="instagram-api-bar"></ul>

</section>




