---
layout: default

home: 1

body-id: home
section: home
---

<section class="row ↔️">
  <div class="row-tout recent-photos ↕️">
    <h3 class="medium-heading">Photography &amp; Fashion</h3>

    <ul class="row-tout-list recent-photos-list">
      {% for post in site.categories.photos | limit: 4 %}
      <li class="row-tout-list--item">
        <p class="condensed">

          <a href="{{ post.url }}" title="{{ post.title }}" itemprop="url">
            {{ post.title | strip_html }}
          </a>

          {% if post.isForLovelySunday == 1 %}
          <span class="post-subheading for-lovely-sunday">featuring &nbsp;
            <a href="{{ post.lovelySundayLink }}" class="for-lovely-sunday--link" title="LovelySunday: Fashion &amp; Style Blog" itemprop="url">
              LovelySunday
            </a>
          </span>
          {% endif %}

        </p>
      </li>
      {% endfor %}
      <li class="more-items">
        <a class="more-items--link" href="/photos/" title="" itemprop="url">
          More Photography
        </a>
      </li>
    </ul>
  </div>


  <div class="row-tout recent-writing ↕️">
    <h3 class="medium-heading">Writing</h3>
    <ul class="row-tout-list recent-writing-list">
      {% for post in site.categories.blog | limit: 4 %}
      <li class="row-tout-list--item">
        <p class="condensed">
          <a href="{{ post.url }}" title="{{ post.title }}" itemprop="url">
            {{ post.title | strip_html | widont }}</a>
            <span class="post-subheading">{{ post.date | date: '%B %Y' }}</span>
        </p>
      </li>
      {% endfor %}
      <li class="more-items">
        <a class="more-items--link" href="/blog/" title="" itemprop="url">
          More Writing
        </a>
      </li>
    </ul>
  </div>
</section>


<section class="row ↔️">
  <div class="row-tout recent-publications ↕️">
    <h3 class="medium-heading">Interviews &amp; Speaking</h3>
    <ul class="row-tout-list recent-publications-list">
      <li class="row-tout-list--item">
        <p class="condensed">
          <!--
            .net Magazine's site moved. This was the original URL:
              http://www.netmagazine.com/features/net-awards-2013-top-10-young-designers
           -->
          <a href="http://www.creativebloq.com/responsive-web-design/net-awards-2013-top-10-young-designers-3132966" title=".net Awards 2013: top 10 young designers" itemprop="url">Young Designer of the Year Nominee,</a>
          <span class="post-subheading">.net&nbsp;Awards</span>
        </p>
      </li>
      <li class="row-tout-list--item">
        <p class="condensed">
          <a href="/building-president-obama.html" title="Thinking Creatively Conference 10" itemprop="url">Building Obama</a>
          <span class="post-subheading">Keynote Address, Thinking&nbsp;Creatively&nbsp;Conf</span>
        </p>
      </li>
      <li class="row-tout-list--item">
        <p class="condensed">
          <a href="http://blog.offscreenmag.com/post/36344235407/hi-manik-give-us-a-short-introduction-about-how" title="Offscreen Magzine - An Interview with Manik Rathee" itemprop="url">An interview by Kai Brach</a>
          <span class="post-subheading">Offscreen&nbsp;Magazine</span>
        </p>
      </li>
      <li class="row-tout-list--item">
        <p class="condensed">
          <a href="http://www.amazon.com/Build-Your-Own-Brand-Strategies/dp/1440324557/" title="Build Your Own Brand" itemprop="url">Build Your Own&nbsp;Brand</a>
          <span class="post-subheading">Robin&nbsp;Landa</span>
        </p>
      </li>
      <!-- RIP Readmill  -->
      <!-- <li class="row-tout-list--item">
          <a href="hhttp://blog.readmill.com/post/34294256090/meet-the-readmillers-manik-rathee" title="Meet the Readmillers: Manik Rathee" itemprop="url">
          Meet the Readmillers: Manik Rathee
          </a><span class="post-subheading">Readmill (RIP)</span>
      </li> -->
    </ul>
  </div>


  <div class="row-tout social-accounts  ↕️">
    <h3 class="medium-heading">Elsewhere</h3>
    <h3 class="medium-heading"></h3>
    <ul class="row-tout-list social-list">
      <li class="social-list--item">
        <a class="social-list--link icon icon--instagram-dark" href="http://www.manikrathee.com/instagram" title="@manikrathee on Instagram" itemprop="url">
          Instagram
        </a>
      </li>
      <li class="social-list--item">
        <a class="social-list--link icon icon--twitter-dark" href="http://www.manikrathee.com/twitter" title="@manikrathee on twitter" itemprop="url">
          Twitter
        </a>
      </li>
      <li class="social-list--item">
        <a class="social-list--link icon icon--pocket-dark" href="http://www.manikrathee.com/pocket" title="@mrathee on Pocket" itemprop="url">
          Pocket
        </a>
      </li>
     <!--  <li class="social-list--item">
        <a class="social-list--link icon icon--fivehundredpx-dark" href="http://www.manikrathee.com/500px" title="@manikrathee on 500px" itemprop="url">
          500px
        </a>
      </li> -->
  <!--     <li class="social-list--item">
        <a class="social-list--link icon icon--spotify-dark" href="http://www.manikrathee.com/spotify" title="@manikrathee on Spotify" itemprop="url">
          Spotify
        </a>
      </li> -->
      <li class="social-list--item">
        <a class="social-list--link icon icon--github-dark" href="http://www.manikrathee.com/github" title="@manikrathee on GitHub" itemprop="url">
          GitHub
        </a>
      </li>
     <!--  <li class="social-list--item">
        <a class="social-list--link icon icon--dribbble-dark" href="http://www.manikrathee.com/dribbble" title="@manikrathee on Dribbble" itemprop="url">
          Dribbble
        </a>
      </li> -->
    </ul>
  </div>
</section>



<!--
<section class="api">
  <div id="twitter-api-container" class="api--unit">
    <i class="icon icon--twitter-dark"></i>
    <div id="twitter-api-bar"></div>
  </div>


  <div id="instagram-api-container" class="api--unit">
    <i class="icon icon--instagram-dark"></i>
    <div id="instagram-api-bar"></div>
  </div>
</section>

 -->
