@charset "UTF-8";
@import "../imports/_all";

/*  404  */


.fourohfour {
  padding: 12% 0 0 0;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}
.fourohfour h1 {
  padding-bottom: 40px;
  font-family: "freight-sans-pro",sans-serif;
  @include font-size(60);
  font-weight: 100;
}
.fourohfour a {
  color: red;
}
.fourohfour a:hover {
  color: #000;
}


