@charset "UTF-8";
@import "imports/_all";

/* Blog Styles */
.blog {
  background: red;
}



pre {
  background: #333;
  border-radius: 6px 0 0 6px;
  margin-right: -100px;
  width: 50%;
  float: right;
  margin-right: -8rem;
  // needs a clearfloat
}
