@charset "UTF-8";
@import "imports/_all";


/* Project: Obama */


.barack-obama {background:#FBFBFB;}
.barack-obama .upper {background: #C1E0F3 url(../img/interior_upper_barack_obama_mobile.jpg) no-repeat top center;color:#fff;text-shadow:1px 1px 0 #000;height:auto;}
.barack-obama .title {
  margin-top: 200px;
}

/*
**********************
***** 768
**********************
*/
@include min-screen(768px) {



.barack-obama .upper {background: #C1E0F3 url(../img/interior_upper_barack_obama.jpg) no-repeat top center;color:#fff;text-shadow:1px 1px 0 #000;height:425px;}



} // 768



/*
**********************
***** 960
**********************
*/
@include min-screen(940px) {


} // 960
