@charset "UTF-8";
@import "modules/_all";

/* Project: Livescribe */




.livescribe {background:#FBFBFB url(../img/interior_lower_hope.jpg) repeat top center;}
.livescribe_upper {
  background: #fff url(../img/interior_livescribe_bg_768.jpg) no-repeat 100% 100%;
  background-size: cover;
  height:auto;
}
.livescribe_title {
  // margin: 5px auto 0 auto;
  margin: 65px 30px 0 0;
  // float: none;
  float: right;
  width: 270px;
  padding: 0 0 45px 0;
}
.livescribe div:hover a {color: #4684CF;}
.livescribe_slides {width:99%;margin:0 auto 35px auto;}



/*
**********************
***** 768
**********************
*/
@include min-screen(768px) {


  .livescribe_upper {background:#FFF url(../img/interior_livescribe_bg.jpg) no-repeat center top;color:#fff;text-shadow:1px 1px 0 #000;height:350px;}
  .livescribe_title {margin:50px 0 0 0;}


} // 768



/*
**********************
***** 960
**********************
*/
@include min-screen(940px) {



} // 960
