
      <header id="page-header" role="banner">

        <div class="main-header">
          <a class="mountain-monday" href="/" title="manikrathee.com" alt="MountainMonday 🍻" itemprop="url">
            MountainMonday 🍻
          </a>
          <hgroup id="page-title">
            <h1 id="name">Manik Rathee</h1>
            <p id="greeting">Designer, Photographer</p>
          </hgroup>

          {% include global-nav-list.html %}
        </div>

        {% if page.home %}
        <div id="who-is">
          <h3 class="current-title">Prototyping &amp; Engineering @ <a href="https://nest.com/" title="Nest Labs, an Alphabet Company" itemprop="url">Nest</a> / Google</h3>



          <p class="previous-heading">Previously</p>
          <ul class="previous">
            <li>
              User Experience Engineer for <a href="http://www.manikrathee.com/barack-obama-contribute.html" title="Barack Obama's 2012 Re-Election Campaign" itemprop="url">President Barack Obama</a>
            </li>
            <li>
              Design Lead for <a href="https://www.continu.co/" title="Continu: Beautifully Simple Learning" itemprop="url">Continu</a>
            </li>
          </ul>
        </div>
        {% endif%}

        {% if page.title %}
        <h2 id="page-title" class="">
          {{ page.title }}
        </h2>
        {% endif%}

      </header>

  {% if page.project %}
  <p id="current">{{ page.project }}</p>
  {% endif%}
