<nav id="white" class="global-nav">

  <a href="/" title="Go Home" itemprop="url">
    <div id="logo" class="white"></div>
  </a>

  <a id="nav" href="#">Navigation</a>

  <ul id="navigation">
    <li><a itemprop="url" href="index.html" title="Home">Home</a></li>
    <li><a itemprop="url" href="about.html" title="About Manik Rathee">About</a></li>
    <li id="portfolio"><a itemprop="url" href="#" title="Portfolio">Portfolio</a>

      <ul id="projects">
        <li><a itemprop="url" href="barack-obama-contribute.html" title="Contribute.BarackObama.com">Contribute.BarackObama.com</a></li>
        <!-- <li><a itemprop="url" href="barack-obama-call-tool.html" title="Barack Obama Call Tool">Barack Obama Call Tool</a></li> -->
        <li><a itemprop="url" href="catalyst-iphone-theme.html" title="CATALYST - Minimal iPhone Theme">Catalyst iOS Theme</a></li>
        <li><a itemprop="url" href="hope-will-see-us-through.html" title="Hope Will See Us Through">Hope Will See Us Through</a></li>
        <li><a itemprop="url" href="manik-rathee-photography.html" title="Manik Rathee Photography">Manik Rathee Photography</a></li>
        <li><a itemprop="url" href="wrapskins.html" title="Wrapskins">Wrapskins</a></li>
        <li><a itemprop="url" href="livescribe.html" title="Livescribe">Livescribe</a></li>
        <!-- <li><a itemprop="url" href="universal-shanti.html" title="Universal Shanti">Universal Shanti</a></li> -->
        <!-- <li><a itemprop="url" href="manik-rathee-blog.html" title="Blog.ManikRathee">Design Experiment: My Blog</a></li> -->
      </ul>

    </li>
    <li><a itemprop="url" href="http://blog.manikrathee.com/" title="Blog.ManikRathee.com">Blog</a></li>
    <li><a itemprop="url" href="resources.html" title="Resources">Resources</a></li>
  </ul>

  {% if page.project %}
  <p id="current">{{ page.project }}</p>
  {% endif%}

</nav>
