  <footer id="main-footer" role="contentinfo">

    <!-- TODO CHange this to use a data yml file, output an image with a background position at certain breakpoints. then render out that size into css -->
    <div class="footer-bg-photo-posts"><span></span></div>

    <span class="mountain-monday mountain-monday--inverse"></span>

    <section class="footer-nav-container">
      <span id="manikrathee">Manik Rathee</span>
      {% include global-nav-list.html %}

      <figure id="snapchat"></figure>
    </section>


    <section class="footer-data">
      <div id="weekly-reads-tout" class="footer-tout">
        <a href="%|" class="invert-hover" title="" itemprop="url">
          <i class="icon icon--weeklyreads">WeeklyReads: an email list for design and inspiration.</i>
          <span>
            WeeklyReads: an email list for design and inspiration.
          </span>
        </a>
      </div>

      <div id="photo-metadata" class="footer-tout">
        <a href="%|" class="photo-metadata--link invert-hover" title="" itemprop="url">
          <i class="icon icon--photography">Photo Information</i>
          <figcaption>
            <span class="photo-metadata--camera"></span>
            <br/>
            <span class="photo-metadata--geo"></span>
          </figcaption>
        </a>
      </div>
    </section>

  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-2.1.1.min.js"><\/script>')</script>

  {% if page.page-type == 'blog' %}
    {% if page.data == 1 %}
      <script src="https://d3js.org/d3.v4.min.js"></script>
    {% endif%}
  {% endif%}

  <script src="/js/script.js"></script>

  {% if page.script %}
    <script type="text/javascript"
            src="/js/blog/script.js"></script>
  {% endif %}


