  <footer id="main-footer" role="contentinfo">

    <!-- TODO CHange this to use a data yml file, output an image with a background position at certain breakpoints. then render out that size into css -->
    <div class="footer-bg-photo-posts" itemprop="url">
      <span></span>
    </div>

    <a href="/" title="manikrathee.com" itemprop="url">
      <span class="mountain-monday mountain-monday--inverse"></span>
    </a>

    <section class="footer-nav-container">
      <span id="manikrathee">Manik Rathee</span>
      {% include global-nav-list.html %}

      <!-- <figure id="snapchat"></figure> -->

      <div id="photo-metadata" class="footer-tout">
        <a class="photo-metadata--link invert-hover" title="" itemprop="url">
          <i class="icon icon--photography">Photo Information</i>
          <figcaption>
            <p>About this photo</p>
            <span class="photo-metadata--camera"></span>
            <br/>
            <span class="photo-metadata--geo"></span>
            <br/>
            <span class="photo-metadata--cta">See more from this photo set</span>
          </figcaption>
        </a>
      </div>
    </section>


    <section class="footer-data">
      <div id="weekly-reads-tout" class="footer-tout">
        <header>
          <i class="icon icon--weeklyreads"></i>
          <h3 class="weekly-reads-title small-heading">
            WeeklyReads
            <span>An email list for design and&nbsp;inspiration.</span>
          </h3>
        </header>

        <form
          id="footer-weekly-reads-signup"
          action="https://tinyletter.com/manikrathee"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://tinyletter.com/manikrathee', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <ul class="form-fields">
            <li>
              <input class="body-copy" type="email" name="email" id="tlemail" placeholder="yourname@gmail.com" />
            </li>
            <li>
              <input class="button" id="submit" type="submit" value="Subscribe" />
            </li>
          </ul>
          <input type="hidden" value="1" id="hidden" name="embed"/>
        </form>
      </div>
    </section>

  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-2.1.1.min.js"><\/script>')</script>

  {% if page.page-type == 'blog' %}
    {% if page.data == 1 %}
      <script src="https://d3js.org/d3.v4.min.js"></script>
    {% endif%}
  {% endif%}

  <script src="js/script.js"></script>

  {% if page.script %}
    <script src="js/blog/script.js"></script>
  {% endif %}


