<p>
  I am a designer &amp; photographer. Formerly, a User Experience Engineer for <a itemprop="url" href="http://www.barackobama.com" title="Obama For America">President Barack Obama</a>, I&nbsp;am now building <em>thoughtful things</em> at Google by way of <a href="https://www.nest.com" title="Nest" itemprop="url">Nest</a>.
  {% if page.home %}
  In my spare time, I <a itemprop="url" href="/blog" title="Blog.ManikRathee.com">write about designing products</a> and <a itemprop="url" href="http://photos.manikrathee.com" title="Manik Rathee's photos">take a lot of photos</a>.
  {% endif %}
</p>
