<p>
  I am a designer. Formerly, a User Experience Engineer for <a itemprop="url" href="http://www.barackobama.com" title="Obama For America">President Barack Obama</a>, I&nbsp;am now building <em>thoughtful things</em> at Google by way of Nest.
  {% if page.home %}
  In my spare time, I <a itemprop="url" href="/blog" title="Blog.ManikRathee.com">write about design and development</a> and <a itemprop="url" href="http://photos.manikrathee.com" title="Manikrathee on Exposure.co">take a lot of photos</a>.
  {% endif %}
</p>
