<div class="dark-shade"></div>

<nav id="white" class="global-nav" role="navigation">

  <a href="/" title="Go Home" itemprop="url">
    <div id="logo"></div>
  </a>

  <ul id="navigation">
    <li><a itemprop="url" href="/" title="Home">Home</a></li>
    <li><a itemprop="url" href="/about" title="About Manik Rathee">About</a></li>
    <li id="portfolio"><a itemprop="url" href="#" title="Work">Work</a>

      <ul id="projects">
        <li><a itemprop="url" href="/barack-obama-contribute.html" title="Contribute.BarackObama.com">Contribute.BarackObama.com</a></li>
        <!-- <li><a itemprop="url" href="/continu.html" title="Continu">Continu</a></li> -->
        <!-- <li><a itemprop="url" href="/fluence.html" title="Fluence">Fluence</a></li> -->
        <li><a itemprop="url" href="/catalyst-iphone-theme.html" title="CATALYST - Minimal iPhone Theme">Catalyst iOS Theme</a></li>
        <li><a itemprop="url" href="/hope-will-see-us-through.html" title="Hope Will See Us Through">Hope Will See Us Through</a></li>
        <li><a itemprop="url" href="/manik-rathee-photography.html" title="Manik Rathee Photography">Manik Rathee Photography</a></li>
        <li><a itemprop="url" href="/wrapskins.html" title="Wrapskins">Wrapskins</a></li>
        <li><a itemprop="url" href="/livescribe.html" title="Livescribe">Livescribe</a></li>
      </ul>

    </li>
    <li><a itemprop="url" href="http://photos.manikrathee.com" title="View Manik Rathee's photography on Exposure">Photos</a></li>
    <li><a itemprop="url" href="/resources" title="Resources">Resources</a></li>
    <li><a itemprop="url" href="/blog/" title="Manik Rathee's Blog">Blog</a></li>
  </ul>

  <a id="nav" href="#" itemprop="url">
    <span class="ss-icon">list</span>
    <span class="label">Menu</span>
  </a>

  {% if page.project %}
  <p id="current">{{ page.project }}</p>
  {% endif%}

</nav>
