
  <footer id="main-footer" role="contentinfo">

    <span class="mountain-monday mountain-monday--inverse"></span>

    <section class="footer-nav-container">
      <span id="manikrathee">Manik Rathee</span>
      {% include global-nav-list.html %}

      <figure id="snapchat"></figure>
    </section>


    <section class="footer-data">
      <div id="weekly-reads-tout" class="footer-tout">
        <i class="icon icon--weeklyreads">WeeklyReads: an email list for design and inspiration.</i>
        <span>WeeklyReads: an email list for design and inspiration.</span>
      </div>

      <div id="photo-metadata" class="footer-tout is-visible">
        <!-- To Do:
              Hook this up to be a random set of favorite posts
          -->
        <a href="%|" title="" itemprop="url">
          <i class="icon icon--photography">Photo information</i>
          <span>
            LEICA Q — 25mm f1.8 200/s 200ISO
            <br/>
            Big Sur, California, USA
          </span>
        </a>
      </div>
    </section>

  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-2.1.1.min.js"><\/script>')</script>

  {% if page.page-type == 'blog' %}
    {% if page.data == 1 %}
      <script src="https://d3js.org/d3.v4.min.js"></script>
    {% endif%}
  {% endif%}

  <script src="/js/script.js"></script>

  {% if page.script %}
    <script type="text/javascript"
            src="/js/blog/script.js"></script>
  {% endif %}

  {% if page.page-type == 'blog' %}
    {% if page.comments %}
      {% include blog-comments-js.html %}
    {% endif %}
  {% endif %}
