<nav class="main-nav" role="navigation">
  <ul class="main-nav-list">
    <li>
      <a itemprop="url" href="/" title="manikrathee.com">Home</a>
    </li>
    <li>
      <a itemprop="url" href="/about" title="About">About</a>
    </li>
    <li>
      <a itemprop="url" href="/photos" title="Photo Stories">Photos</a>
    </li>
    <li>
      <a itemprop="url" href="/blog" title="Blog">Blog</a>
    </li>
    <li>
      <a itemprop="url" href="/shop" title="Shop">Shop</a>
    </li>
    <li class="nav-work-case-studies">
      <a itemprop="url" href="/work" title="Case Studies and Projects">Work<span> &amp; Case Studies</span></a>
    </li>
    <li>
      <a itemprop="url" href="/library" title="Library and Recommendations">Library</a>
    </li>
    <li class="nav-weekly-reads">
      <a itemprop="url" href="/weeklyreads" title="WeeklyReads: An email with the best design, photography and inspiration links of the week">WeeklyReads</a><span> <i>Email Subscription</i></span>
    </li>
    <li>
      <a itemprop="url" href="/resources" title="Resources">Resources</a>
    </li>
  </ul>
</nav>
