/* Resources */



.resources {
  background: #FBFBFB;
  .upper {
    background: #000;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    height: 530px;
    display: block;
  }
  .title {
    width: 100%;
    text-align: center;
    margin: 100px 0 0 0;
    h1,
    h2 {
      color: #fff;
      text-shadow: none;
      text-transform: uppercase;
      line-height: 1;
    }
    h1 {
      margin: 0 0 4px 0;
      font-size: 21px;
      font-weight: bold;
    }
    h2 {
      margin: 0;
      font-size: 14px;
    }
  }
  .resource-block {
    margin-top: 40px;
  }
  .body {
    h2 {
      margin-bottom: 20px;
    }
    h2,
    h3,
    h4,
    ul,
    p {
      color: #575757;
    }
    ul {
      padding: 0 0 0 18px;
      li {
        & + li {
          padding-top: 10px;
        }
      }
    }
  }
  .subtitle-link {
    display: block;
  }
  .main-section {
    padding-bottom: 35px;
  }
  #releases {
    p.subtitle {
      margin-bottom: 8px;
      font-weight: bold;
      line-height: 1;
      em {
        @include font-size(20);
      }
    }
    section {
      margin-bottom: 30px;
      .button {
        margin: 20px 0 0 0;
        width: 100%;
        text-align: center;
        padding: 10px;
      }
    }
  }
  .resource-block {
    #hardware {
      width: 100%;
      overflow: hidden;
      padding-bottom: 10px;
      margin-bottom: 10px;
      li {
        font-size: 13px;
        list-style-type: none;
        margin-bottom: 8px;
      }
    }
  }
}

/*
**********************
***** 500
**********************
*/
@include min-screen(500px) {
  .resources {
    .upper {
      background: #000 url(../img/resources-heading-small.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
  }
} // 500





/*
**********************
***** 768
**********************
*/
@include min-screen(768px) {
  .resources {
    .upper {
      background:#000 url(../img/resources-heading-medium.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
    .title {
      margin: 230px 0 0 0;
    }
    .title h1 {
      margin: 0 0 8px 0;
      font-size: 40px;
      font-weight: light;
      line-height: 1;
      letter-spacing: 10px;
    }
    .module {
      padding: 10px 0;
      margin: 10px 0;
      &.hardware {
        padding-top: 26px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        border-top: 1px solid rgba(0,0,0,0.2);
      }
    }
    .resource-block {
      .left {
        float: left;
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 30px 0 0;
      }
      .right {
        float: right;
        width: 50%;
        margin-bottom: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      #hardware {
        li {
          width: 50%;
          float: left;
        }
      }
    }
  }
} // 768



/*
**********************
***** 960
**********************
*/
@include min-screen(940px) {
  .resources {
    // #releases {
    //   -moz-column-count: 3;
    //   -moz-column-gap: 35px;
    //   -webkit-column-count: 3;
    //   -webkit-column-gap: 35px;
    //   column-count: 3;
    //   column-gap: 35px;
    // }
  }
} // 960



/*
**********************
***** 1420
**********************
*/
@include min-screen(1420) {
  .resources {
    .upper {
      background:#000 url(../img/resources-heading-large.jpg) no-repeat 50% 50%;
    }
  }
} // 1420
