	{% include global-header.html %}

	<body
    {% if page.body-id %}
      id="{{ page.body-id }}"
    {% endif %}
    {% if page.body-class %}
      class="
        {{ page.body-class }}
        {% if page.page-type == 'blog' %}
        blog
        {% endif %}
        {% if page.page-subtype == 'blog-index' %}
        blog-index
        {% endif %}
      "
    {% endif %}
  >

    <div id="main" class="container" role="main">

      {% include global-page-header.html %}

      <section id="inner-container" class="{{page.section}}">

        {% if page.page-subtype == 'blog-post' %}
          {% if page.page.img %}
            <picture class="main-photo">
             <source srcset="{{ page.img }}" media="(min-width: 600px)">
             <img src="{{ page.img }}" alt="{{ page.title }}">
            </picture>
          {% endif%}
        {% endif%}


        {% if page.page-type == 'blog' %}
        <article id="main-article">
          <div id="light-dark-mode">
            Put a sun/moon icon here
            expand with someting like this:
            <!-- http://tympanus.net/Tutorials/AnimatedBorderMenus/index3.html
            and a bigger icon set fading in.

            make this a partial -->
          </div>
        {% endif%}

          {{ content }}

        {% if page.page-type == 'blog' %}
        </article>

          OTHER POSTS
          {% include blog-pagination.html %}

          {% if page.share %}
          {% include share.html %}
          {% endif %}
        {% endif%}

      </section>

    </div>

    {% include global-footer.html %}
  </body>

</html>
