	{% include global-header.html %}

	<body
    {% if page.body-id %}
      id="{{ page.body-id }}"
    {% endif %}
    {% if page.body-class %}
      class="
        {{ page.body-class }}
        {% if page.page-type == 'blog' %}
        blog blog-post
        {% endif %}
      "
    {% endif %}
  >

    <div id="main" class="container" role="main">

      {% include global-page-header.html %}

      <section id="inner-container" class="{{page.section}}">

        {% if page.page-type == 'blog' %}
        <picture class="main-photo">
         <source srcset="{{ page.img }}" media="(min-width: 600px)">
         <img src="{{ page.img }}" alt="{{ page.title }}">
        </picture>
        {% endif%}


        {% if page.page-type == 'blog' %}
        <article id="main-article">
        {% endif%}

          {{ content }}

        {% if page.page-type == 'blog' %}
        </article>

          OTHER POSTS
          {% include blog-pagination.html %}

          {% if page.share %}
          {% include share.html %}
          {% endif %}
        {% endif%}

      </section>

    </div>

    {% include global-footer.html %}
  </body>

</html>
