nav.global-nav{
	position: relative;
	z-index: 200;
}

#logo{
	display:block;
	height: 75px;
	width: 75px;
	background-size: 100%;
	body.light & {
		background: transparent url('../img/white-logo.png') no-repeat 50% 50%;
		background-size: 100%;
	}
	body.dark & {
		background: transparent url('../img/dark-logo.png') no-repeat 50% 50%;
		background-size: 100%;
	}
}

nav{
	@include animate;
	@include fadeInDown;
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: none;
	#logo{
		margin: 0 auto;
	}
	&:after{
		clear: both;
		display: block;
		content: '';
	}
	#current{
		display: none;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1;
	}
	a{
		@include transition(color 0.25s ease-in-out);
		border: none;
	}
	p{
		text-shadow: none;
		margin: 0;
		padding: 0;
	}
}

nav#dark{
	body.dark & {
		a {
			color: rgba(50,50,50,0.6);
			&:hover{
				color: rgba(50,50,50,1);
			}
		}
		p{
			color: rgba(50,50,50,0.6);
		}
		p#current{
			color: rgba(50,50,50,1);
		}
		#navigation.show{
			background: rgba(255,255,255,0.8);
		}
	}
	body.light & {
		a {
			color: rgba(255,255,255,0.6);
			&:hover{
				color: rgba(255,255,255,1);
			}
		}
		p{
			color: rgba(255,255,255,0.6);
		}
		p#current{
			color: rgba(255,255,255,1);
		}
		#navigation.show{
			background: rgba(0,0,0,0.7);
		}
	}
}

#navigation{
	height: 0;
	overflow: hidden;
	padding: 20px 0;
	-webkit-transition: height 0.5s ease-in, background 0.5s ease-in;
	-moz-transition: height 0.5s ease-in, background 0.5s ease-in;
	transition: height 0.5s ease-in, background 0.5s ease-in;
	&.show{
		height: auto;
	}
	#projects{
		height: 0;
		overflow: hidden;
		li{
			min-width: 200px;
		}
	}
}

@media screen and (max-width: 767px) {
	#nav{
		display: block;
		background: url('../img/navigation-icon.png');
		text-align: left;
		text-indent: -999em;
		height: 50px;
		width: 50px;
		background-size: 100%;
		margin: 10px auto;
		#current{
			display: block;
			text-shadow: none;
		}
	}
	#navigation, #navigation li {
		margin-left: 0;
		margin-right: 0;
		text-align: center;
		padding: 0;
	}
	#navigation{
		box-sizing: border-box;
		position: absolute;
		left: -100%;
		width: 100%;
		height: auto;
		padding: 100px 0;
		background: rgba(0,0,0,0.8);
		@include transition(left 0.25s ease-in-out);
		#projects{
			height: auto;
			margin: 10px 0;
			padding: 10px 0;
			border-top: 1px solid rgba(255,255,255,0.4);
			border-bottom: 1px solid rgba(255,255,255,0.4);
		}
	}
}
body.nav, body#home.nav{
	#navigation{
		left: 0;
		// width: 90%;
	}
}


@media screen and (min-width: 768px){
	nav{
		margin-left: 30px;
		background: none;
		#nav{
			display: none;
		}
		ul{
			padding: 20px 0 0 19px;
			li{
				float: left;
				list-style-type: none;
				margin-right: 15px;
			}

		}
		#portfolio{
			position: relative;
			cursor: pointer;
			height: 15px;
			&:hover{
				height: 220px;
				#projects{
					height: 220px;
					opacity: 1;
					@include transition(none);
				}
			}
		}
		#projects{
			position: absolute;
			top: 15px;
			left: 0;
			float: none;
			overflow: hidden;
			padding: 0;
			background: none;
			z-index: 999;
			@include transition( (opacity 0.25s ease-in-out),(height 0.25s ease-in-out) );
			li{
				float: none;
				display: block;
				margin: 5px 0;
			}
		}
		#current{
			position: absolute;
			top: 64px;
			left: 93px;
			display: block;
		}
	}
	nav ul, nav #logo{
		float: left;
	}
	#navigation{
		height: auto;
		padding-left: 120px;
	}
	.interior nav{
		position: absolute;
		top: 20px;
		left: 20px;
	}
	body.interior{
		nav{
			ul{
				padding-top: 6px;
			}
		}
	}
	#current{
		@include transition(opacity 0.25s ease-in-out);
		&.fade{
			opacity: 0;
		}
		&.hide{
			display: none;
		}
	}
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
	#logo{
		background-size: 100%;
		body.light & {
			background-image: url('../img/white-logo@2x.png');
		}
		body.dark & {
			background-image: url('../img/dark-logo@2x.png');
		}
	}
	#nav{
		background: url('../img/navigation-icon@2x.png');
		background-size: 100%;
	}
}
