// ******************
// Typography
// ******************
$sans: "proxima-nova", helvetica, verdana, sans-serif;



// ******************
// Base Colors
// ******************
$white: #fff;
$black: #000;
$grey: #333333;



// ******************
// Attributes
// ******************
$text-shadow-color: rgba(0,0,0,0.5);
