// ******************
// Typography
// ******************
$sans: "proxima-nova", helvetica, verdana, sans-serif;
$serif: "ff-meta-serif-web-pro", Garamond, Georgia, serif;
$display: "garamond-premier-pro","Adobe Jenson Pro", "Hoefler Text", "Centaur", "Centaur MT", "Stempel Garamond", "Adobe Garamond Pro", "Adobe Garamond", Garamond, Georgia, serif;


// ******************
// Base Colors
// ******************
$white: #fff;
$black: #000;
$grey: #333333;



// ******************
// Attributes
// ******************
$text-shadow-color: rgba(0,0,0,0.5);
