@charset "UTF-8";

// API


// Instagram Grid

#instagram-api-bar {
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
  font-size: 0;
}
#instagram-api-bar li {
  width: 33.3%;
  transition: .8s opacity;
}
// #instagram-api-bar:hover img {
//   opacity: 0.3;
// }
// #instagram-api-bar:hover img:hover {
//   opacity: 1;
// }
