@charset "UTF-8";
@import "./imports/all";

::-moz-selection { background: #999; color: #fff; text-shadow: none; }
::selection  { background: #999; color: #fff; text-shadow: none; }



html {
  background-color: $peak-color;
  font-size: 62.5%; // Base 10 for REM sizing
    // See: http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
  text-rendering: optimizelegibility;
  font-feature-settings: "liga", "hist", "onum";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}

// html,
// body {
//   height: 100%;
// }

body {
  background: $grey;
  font-family: $sans;
  @include font-size(15);
  color: #444444;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;

  &:after {
    position: fixed;
    bottom: 0;
    left: 50%;
    translate: transform3d(-50%,0,0);
    background-image: url($logo-svg-encoded);
    background-size: 50px 50px;
    background-position: bottom center;
    background-repeat: no-repeat;
    border: 1px solid yellow;
  }

  @include mq(500px) {
    padding: $spacer $spacer 0 $spacer;

    &:after {
      opacity: 1;
    }
  }


  @include mq(960px) {
    padding: ($spacer * 2) ($spacer * 2) 0 ($spacer * 2);
  }

}

dl, menu, ol, ul {
    margin: 0;
    padding: 0;
}

a {
  color: $dark-grey;
  padding-bottom: 0;
  text-decoration: none;
  border-bottom: 1px solid #CBCBCB;
  -webkit-tap-highlight-color: $dark-grey;
  @include transition( (color 0.15s ease-in-out),(border 0.15s ease-in-out) );

  @include touch-hover() {
    color: #000;
    border-color: #000;
  }
}

