@charset "UTF-8";
@import "../imports/all";

::-moz-selection { background: #999; color: #fff; text-shadow: none; }
::selection  { background: #999; color: #fff; text-shadow: none; }


html {
  background-color: $peak-color;
  font-size: 62.5%; // Base 10 for REM sizing
    // See: http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
  text-rendering: optimizelegibility;
  font-feature-settings: "liga", "hist", "onum";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}


body {
  background: $light-grey;
  font-family: $sans;
  @include font-size(15);
  color: $dark-grey;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  transition:
    background $transition,
    color $transition;

  &:after {
    position: fixed;
    bottom: 0;
    left: 50%;
    translate: transform3d(-50%,0,0);
    background-image: url($logo-svg-encoded);
    background-size: 50px 50px;
    background-position: bottom center;
    background-repeat: no-repeat;
    border: 1px solid yellow;
  }

  &.view-mode--dark {
    background: $invert-body;
    color: $invert-copy;
  }

  @include mq(500px) {
    padding: $spacer $spacer 70px $spacer;

    &:after {
      opacity: 1;
    }
  }


  @include mq(960px) {
    padding: ($spacer * 2) ($spacer * 2) 70px ($spacer * 2);
  }


}




dl, menu, ol, ul {
    margin: 0;
    padding: 0;
}




a {
  color: $copy;
  padding-bottom: 0;
  text-decoration: none;
  border-bottom: 1px solid #CBCBCB;
  -webkit-tap-highlight-color: $dark-grey;
  @include transition( (color $anchor-hover-transition),(border $anchor-hover-transition) );

  @include touch-hover() {
    color: $black;
    border-color: $black;
  }

  .invert {
    color: $medium-grey;
  }

  &.invert-hover  {
    @include touch-hover() {
      color: $white;
      border-color: $white;
    }
  }

  &.no-border {
    border: none;
  }

  .view-mode--dark & {
    color: $invert-copy;
    border-color: darken($invert-copy, 15%);

    @include touch-hover() {
      color: $white;
      border-color: $white;
    }
  }
}



.mobile-cta {
  @include mq(768px) {
    display: none;
  }
}



img {
  max-width: 100%;
}



[id=main] { // shadow-container
  display: block;
  max-width: 1140px;
  position: relative;
  background-color: $white;
  // background-image: url('../img/bg.png');
  background-repeat: repeat;
  background-position: center top;
  margin-left: auto;
  margin-right: auto;
  padding: $spacer / 1.3;
  border-radius: 3px;
  transition:
    background $transition,
    padding $transition,
    color $transition;
  @include box;

  @include mq(500px) {
    padding: $spacer;
  }

  @include mq(960px) {
    padding: $spacer * 2;
  }


  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    @include size(100%,100%);
    border-radius: 3px;
    box-shadow: 0px 0px 65px 5px rgba(0, 0, 0, 0.05);
  }

  .view-mode--dark & {
    background-color: $invert-container;
  }

} // main


[id=inner-container] {
  // main content container
  width: 100%;
  padding-bottom: $spacer;
  @include clearfix;

  @include mq(800px) {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
  }

  .blog {
    @include mq(800px) {
      max-width: 600px;
      margin-left: auto;
    }
  }
}


picture.main-photo {
  display: block;
  margin-bottom: 8rem;
}









