@charset "UTF-8";
@import "./imports/all";

// Main footer
// Shared with all pages

[id=main-footer] {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #333;
  padding: $spacer;
  color: #fff;
  @include box;

  & > * {
    // set difference on children only, so the background image remains safe
    mix-blend-mode: difference;
  }

  // &.light-copy {
  //   color: $dark-grey;
  //   p,
  //   a {
  //     color: $dark-grey;
  //   }

  //   a {
  //     &:hover {
  //       color: $light-grey;
  //     }
  //   }
  // }

  p {
    color: #fff;
  }

  a {
    color: #fff;
    &:hover {
      color: #7D7D7D;
      border-bottom: #7D7D7D;
    }
  }

  .mountain-monday {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 46px;
    height: 30px;
    background-size: contain;
  }

  .footer-nav-container {
    justify-content: space-around;
  }
  .footer-data {
    justify-content: space-around;
  }


  .main-nav-list,
  #snapchat,
  #top {
    margin-bottom: $spacer;
  }

  .main-nav-list {
    overflow: hidden;
    margin-top: $spacer;

    padding-bottom: 5px;

    li {
      width: calc(50% - 20px);

      &:nth-child(even) {
        margin-left: 20px;
        text-align: left;
      }

      &:nth-child(odd) {
        margin-right: 20px;
        text-align: right;
      }

    }
  }

}


#snapchat {
  display: block;
  background-image: url('../img/snapchat.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include size(48px, 48px);
  margin-left: auto;
  margin-right: auto;
}


.footer-tout {
  // shown in header on right side, only for homepage
  justify-content: space-between;
  position: relative;
  margin-top: $spacer*1.125; // push content to the baseline of the title

  &:first-child {
    margin-top: 0;
  }

  i.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  span {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
}

#photo-metadata {
  opacity: 0;
  visibility: hidden;
  @include transition( (opacity 1s ease-in-out),(visibility 1s ease-in-out) );

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}

#manikrathee {
  display: none;
  position: absolute;
  top: 160px;
  left: -40px;
  transform: rotate(-90deg);
  letter-spacing: 7px;
  text-transform: uppercase;
  opacity: 0.55;
  pointer-events: none;
}









@include mq(500px) {
  [id=main-footer] {
    width: calc(100% + 40px + 4rem);
    margin-left: -40px;
  }
}











@include mq(768px) {

  [id=main-footer] {
    flex-direction: row;
    flex-wrap: wrap; // force photo story link to it's own line
    margin-left: -40px;

    .mountain-monday {
      position: absolute;
      top: auto;
      left: auto;
      margin: 0;
      transform: none;

      width: 40px;
      height: 28px;
    }

    .footer-nav-container {
      width: 50%;
    }

    nav {
      min-width: 240px;
      margin-left: 35px;
    }

    .footer-data {
    }


    .footer-tout {
      // shown in header on right side, only for homepage
      // justify-content: space-between;
      // position: relative;
      // margin-top: $spacer*1.125; // push content to the baseline of the title

      i.icon {
        display: inline-block;
        vertical-align: top;
      }

      span {
        display: inline-block;
        width: calc(100% - 60px);
        margin-top: 0;
        margin-left: 10px;
        vertical-align: top;
        text-align: left;
      }
    }

    .main-nav-list {
      line-height: 2.2rem;

      li {
        width: auto;

        &:nth-child(even) {
          margin-left: 0;
          text-align: left;
        }

        &:nth-child(odd) {
          margin-right: 0;
          text-align: left;
        }

      }
    }

    #manikrathee {
      display: block;
    }

    #snapchat {
      @include size(78px, 78px);
      margin: 0 0 0 32px;
    }
  }

}



















@include mq(960px) {
  [id=main-footer] {
    width: calc(100% + 160px);
    margin-left: -80px;
    padding: 10rem 8rem;
  }

  #manikrathee {
    top: 220px;
    left: 0;
    opacity: 0.3;
  }
}
















@include mq(1300px) {
  [id=main-footer] {
    width: calc(100% + 120px);
    margin-left: -60px;
  }
}
