@charset "UTF-8";
@import "./imports/all";

// Main footer
// Shared with all pages

[id=main-footer] {
  position: relative;
  display: flex;
  flex-direction: column;
  mix-blend-mode: difference;
  width: 100%;
  background: #333;
  padding: $spacer;
  color: #fff;
  @include box;

  p {
    color: #fff;
  }

  a {
    color: #fff;
    &:hover {
      color: #7D7D7D;
      border-bottom: #7D7D7D;
    }
  }

  .mountain-monday {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0,0);
  }

  .footer-nav {
    justify-content: space-around;
  }
  .footer-data {
    justify-content: space-around;
  }


  .main-nav-list,
  #snapchat,
  #top {
    margin-bottom: $spacer;
  }


  #snapchat {
    display: block;
    @include size(78px, 78px);
    background-image: url('../img/snapchat.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  #weekly-reads-tout,
  #photo-metadata {
    // shown in header on right side, only for homepage
    justify-content: space-between;
    margin-top: $spacer*1.25; // push content to the baseline of the title

  }

  #photo-metadata {
    opacity: 0;
    visibility: hidden;
    @include transition( (opacity 1s ease-in-out),(visibility 1s ease-in-out) );

    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  #manikrathee {
    display: none;
  }

} // #page-header










@include mq(500px) {
  [id=main-footer] {
    width: calc(100% + 40px + 4rem);
    margin-left: -40px;
  }
}











@include mq(768px) {

  [id=main-footer] {
    flex-direction: row;
    margin-left: -40px;

    .mountain-monday {
      margin-left: auto;
      margin-top: $spacer;
      margin-right: auto;
      margin-bottom: $spacer;
    }

    .footer-nav {
      justify-content: flex-start;
    }

    .footer-data {
      justify-content: flex-end;
    }

    #manikrathee {
      display: none;
    }
  }

}



















@include mq(960px) {
  [id=main-footer] {
    width: calc(100% + 160px);
    max-width: 1300px;
    margin-left: -80px;
    padding: 10rem;
  }
}















@include mq(1300px) {
  [id=main-footer] {
    margin-left: auto;
    margin-right: auto;
  }
}
