@charset "UTF-8";

// Main header
// Shared with all pages


[id="page-header"] {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 4rem; // push header down so it doesnt overlap with view mode

  .global-header {
    z-index: 2;
    opacity: 0.55;
    @include transition(opacity #{$transition});

    &:hover {
      opacity: 1;
    }

    #home & {
      opacity: 1;
    }
  }
} // #page-header


[id="site-title"] {
  margin-bottom: $spacer;

  > * {
    display: block;
    line-height: 1;
  }

  [id=name] {
    @include font-size(22);
    font-weight: 600;
    transition: none;

  }

  [id=greeting] {
    @include font-size(18);
    font-weight: 300;
    transition: none;

  }
}



[id="who-is"] { // shown in header on right side, only for homepage
  padding: ($spacer * 2) 0;
  line-height: 1.6;

  @include mq(800px) {
    // margin-top: 4.5rem; // align copy to heading and nav
    margin: ($spacer * 1.125) 0 0 0; // push content to the baseline of the title
    padding: 0;
    border: none;
  }

  .current-title {
    font-family: $sans;
    font-weight: 500;
    @include font-size(18);
    margin-bottom: $spacer;

  }

  .previous-container {
    color: $dark-grey;

    .view-mode--dark & {
      color: $light-grey;
    }
  }

  .previous-heading {
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
    @include font-size(12);
    line-height: 1;
  }

  .previous-positions { //ul

    li {
      list-style-type: none;
      margin-bottom: $base-unit * 6;
      @include transition( color $transition );

      &:last-child {
        margin-bottom: 0;
      }

      @include mq(800px) {
        margin-bottom: $base-unit * 2;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    li,
    a {
      @include font-size(15); // same as previous heading
      font-weight: 100;
    }
  }


  i {
    display: block;

    @include mq(540px) {
      display: inline;
    }
  }

}


.page-title-container {
  position: relative;

  @include mq(800px) {
    max-width: 400px;
    padding-left: 50px;
    align-self: flex-end;
  }

  @include mq(1200px) {
    max-width: 100%;
    padding-left: 25rem;
  }

  @include mq(1240px) {
    padding-left: 15rem;
  }
}

#header-bar {
  //svg
  position: absolute;
  z-index: 0;

  top: 0rem;
  right: 8rem;


  z-index: 0;
  width: 30rem;
  @include animate-custom(1s);
  @include fadeInRight;

  @include mq(500px) {
    top: -14rem;
    right: 19rem;
  }

  @include mq(800px) {
    @include animate-custom(4s);
    @include flipInX;
  }

  path {
    stroke: $highlight-mint;

    .building-obama & {
      stroke: #157ba2;
    }

    .wanderlust:-big-sur & {
      stroke: #ad901d;
    }


  }



}

.blog-index {
  #header-bar path {
    stroke: $highlight-orange;
  }
}
.photo-index {
  #header-bar path {
    stroke: $highlight-neon-yellow;
  }
}


[id="page-title"] {
  position: relative;
  z-index: 2;
  margin: ($spacer * 1.5) 0;
  font-family: $serif;
  @include font-size(28);
  font-weight: 600;
  line-height: 1.25;

  @include mq(800px) {
    width: 100%;
    margin: 0;
    @include font-size(40);
    line-height: 1.1;
    text-align: right;
  }

  @include mq(1000px) {
    @include font-size(50);
  }

  @include mq(1200px) {
    @include font-size(60);
  }
}







@include mq(800px) {


  [id="page-header"] {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;

    .global-header {
      width: 30%;
      min-width: 200px;
    }
  } // #page-header


}
