@charset "UTF-8";
@import "./imports/all";


[id=main] { // shadow-container
  display: block;
  // justify-content: space-between;
  // align-items: center;
  // flex-wrap: wrap;

  position: relative;
  background-color: #fff;
  background-image: url('../img/bg.png');
  background-repeat: repeat;
  background-position: center top;
  margin-left: auto;
  margin-right: auto;
  padding: $spacer;
  border-radius: 3px;
  @include box;
  @include transition(padding 0.25s ease-in-out);

  @include mq(800px) {
    max-width: 1140px;
  }

  @include mq(960px) {
    padding: $spacer * 2;
  }


  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    @include size(100%,100%);
    border-radius: 3px;
    box-shadow: 0px 0px 65px 5px rgba(0, 0, 0, 0.05);
  }

} // main


[id=inner-container] {
  // main content container
  padding-top: $spacer * 1.5;
  padding-bottom: $spacer * 1.5;
}













