.main-nav {}

.main-nav-list {
  @include font-size(16);
  line-height: 1;
  padding-bottom: 1px;

  @include mq(768px) {
    line-height: $base-unit * 10;
  }

  li,
  a,
  i {
    font-size: inherit;
    line-height: inherit;
  }

  li {
    width: 50%;
    float: left;
    margin-bottom: 10px;

    @include mq(768px) {
      width: auto;
      float: none;
      margin-bottom: 10px;
    }

    & + li {
      margin-top: $standard-unit;
    }
  }

  i {
    margin-left: 10px;
    @include font-size(13);
    font-weight: 200;
  }
}

.footer-nav {
  // shared styles with .main-nav-list > li above
  li {
    width: auto;
    margin-bottom: 0;

    @include mq(768px) {
      margin-bottom: 10px;
    }
  }

  a {
    @include touch-hover() {
      color: $off-white;
      border-color: $off-white;
    }
  }
}

.nav-work-case-studies,
.nav-weekly-reads {

  span {
    display: none;
  }

  @include mq(768px) {
    span {
      display: inline;
    }
  }

}
