@charset "UTF-8";


.page-photo {
  display: block;
  width: 100%;
  max-width: 100%;
  // margin: 0 0 2rem 0;
  margin: 0 0 ($spacer * 1.5) 0;

  background-position: 50% 50%;
  background-repeat: no-repeat;

  @include mq(500px) {
    margin-left: -4rem;
    margin-bottom: 6rem;
  }

  @include mq(800px) {
    overflow: hidden;
    width: 750px;
    height: 345px;
    margin-left: -8rem;
    margin-bottom: 8rem;
  }

  img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
  }
}

.blog-index,
.photo-index {
  .page-photo {
    display: none;
  }
}

#photo-posts {

}

#photo-gallery {
  list-style: none;
  margin-top: $spacer * 3;
}

.post-gallery {
  margin-top: 8rem;
}

.photo-metadata--cta {
  display: inline-block;
  margin-top: 1rem;
  font-style: normal;
  border-bottom: 1px solid #CBCBCB;
}
