@charset "UTF-8";


// Safety Pin

body.safety-pin {
  height: 100%;
  overflow: hidden;

  #safety-pin-day-one {
    @include animate;
    @include fadeOut;
    @include delay-custom(3s);
  }
}

#safety-pin-day-one {
  &.is-complete {
    display: none;
  }
}

#day-one {
  display: block;
  width: 100%;
  text-align: center;
}

