@charset "UTF-8";
@import "../imports/_all";

// Base el properties
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockqoute {
  margin: 0 0 $base-unit 0;
  line-height: 1.2;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.6;
}


h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
  // margin-bottom: 2.2rem;
}


p {
  @include font-size(17);
  margin-bottom: 1.8rem;
  line-height: 1.6;

  @include mq(800px) {
    @include font-size(16);
  }

  &.condensed {
    @include font-size(15);
    margin-bottom: 1.2rem;
    line-height: 1.6;

    @include mq(800px) {
      @include font-size(16);
    }
  }
}

em {
  // font-family: $serif;
  font-style: italic;
  // font-weight: 300;
  opacity: 0.75;
}


i {
  font-style: normal;
}



// Type system
[class*="heading"] {
  font-family: $sans;
}

[class*="heading-serif"] {
  font-family: $serif;
}

.large-heading {
  @include font-size(26);
  margin-bottom: 1.75rem;
}

.medium-heading {
  @include font-size(22);
  margin-bottom: 1.15rem;
}

.small-heading {
  @include font-size(18);
  font-weight: 700;
  margin-bottom: 1rem;
}
