// Large Desktop Styles
// min-width 1420px

.about {
  .upper {
    background: #35383D url(../images/about-heading-large.jpg) no-repeat 50% 50%;
  }
}
.resources {
  .upper {
    background:#000 url(../images/resources-heading-large.jpg) no-repeat 50% 50%;
  }
}
.obama-contribute {
  .module {
    &.sequential-born {
      background-position: 150%;
    }
  }
}
