// Tablet Styles
// min-width 500px

.about {
  .upper {
    background: #2a2529 url(../images/about-heading-small.jpg) no-repeat 50% 50%;
  }
  .title {
    margin-top: 250px;
    // margin-left: 115px;
    width: auto;
    text-align: left;
  }
}
.resources {
  .upper {
    background:#000 url(../images/resources-heading-small.jpg) no-repeat 50% 50%;
  }
}
